In [1]:
import pandas as pd
import numpy as np

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
%matplotlib inline

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
%matplotlib inline
data = {'time':['6','7','8','9','10','11','12','13'],'temperature(c)':[22,24,26,27,28,29,30,31]}
data

{'time': ['6', '7', '8', '9', '10', '11', '12', '13'],
 'temperature(c)': [22, 24, 26, 27, 28, 29, 30, 31]}

In [9]:
climate = pd.DataFrame(data,columns=['time','temperature(c)'])
climate

  time  temperature(c)
0    6              22
1    7              24
2    8              26
3    9              27
4   10              28
5   11              29
6   12              30
7   13              31

In [20]:
climate .to_csv("C:/setup/linear regression/climate.csv")
pd.read_csv("C:/setup/linear regression/climate.csv")

OSError: Cannot save file into a non-existent directory: 'C:\setup\linear regression'

In [11]:
climate = pd.DataFrame(data,columns=['time','temperature(c)'])
climate

  time  temperature(c)
0    6              22
1    7              24
2    8              26
3    9              27
4   10              28
5   11              29
6   12              30
7   13              31

In [12]:
climate.plot.scatter(x='time',y='temperature(c)')
<AxesSubplot:xlabel='time', ylabel='temperature(c)'>

SyntaxError: invalid syntax (1587512891.py, line 2)

In [13]:
x=climate[['time']]
x

  time
0    6
1    7
2    8
3    9
4   10
5   11
6   12
7   13

In [14]:
y=climate[['temperature(c)']]
y

   temperature(c)
0              22
1              24
2              26
3              27
4              28
5              29
6              30
7              31

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.5,random_state=0)
xtrain

  time
3    9
0    6
5   11
4   10

In [16]:
ytrain

   temperature(c)
3              27
0              22
5              29
4              28

In [17]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr

LinearRegression()

In [18]:

lr.fit(xtrain,ytrain)
LinearRegression()
prediction = lr.predict(xtest)
prediction

array([[30.78571429],
       [25.07142857],
       [23.64285714],
       [32.21428571]])

In [19]:
prediction=pd.DataFrame(prediction,columns=['prediction'])
prediction

   prediction
0   30.785714
1   25.071429
2   23.642857
3   32.214286